<single-spa-router>
  <main>
    <route path="/angular">
      <application name="angular-mf"></application>
    </route>
    <route default>
      <application name="@telekom/react-mf"></application>
    </route>
  </main>
</single-spa-router>
